:root {
    --tc1:#121212;
    --tc2:#FFFFFF;
    --tc3:#FF0000;
    --bgc1:#FFFFFF;
    --bgc2:#14471E;
    --bgc3:#68904D;
    --bgc4:#C8D2D1;
    --blc:#DA6A00;
    --blch:#EE9B01;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--tc1);
    border: none;
    list-style: none;
    text-decoration: none;
}

button {
    background-color: inherit;
}
button:hover {
    cursor: pointer;
}
.body {
    background-color: var(--bgc1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}
.body.ready {
        opacity: 1;
        visibility: visible;
}

.header {
    background-color: var(--bgc3);
    position: sticky;
    top: 0;
    z-index: 10;
}
.header__desktop,.footer__inner {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
}
.header__mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.header__icon {
    width: 2rem;
    aspect-ratio: 1/1;
}
.button_theme,.button_exit {
    background-color: inherit;
    cursor: pointer;
}
.footer {
    background-color: var(--bgc2);
}
.footer__copy {
    display: flex;
    flex-direction: column;
}
.footer__partners {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer__social {
    display: flex;
    gap: 1.5rem;
}
.social__image {
    width: 24px;
    aspect-ratio: 1/1;
}


.logo {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center
}
.logo__image {
    width: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.logo__titleLeft,.logo__titleRight {
    font-size: 1.1rem;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tc2);
}
.logo__titleLeft {
    transform: rotate(3deg);
}
.logo__titleRight {
    transform: rotate(-5deg);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.link {
    color: var(--blc);
    font-size: 1.1rem;
    cursor: pointer;
    background-color: inherit;
    transition: 0.3s;
}
.link::first-letter{
    text-transform: uppercase;
}
.link:hover{
    color: var(--blch);
}
.link_altColor {
    color: var(--tc2);
}
.link_selected {
    border: 1px solid var(--blc);
    padding: 0.2rem;
    border-radius: 5px;
}
.link_altBorder {
    border: 1px solid var(--tc2);
}


.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.userFoto {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}


.content {
    width: 90%;
    max-width: 1440px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 80vh;
}
.h1,.h2,.h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.h1 {
    font-size: 2.3rem;
}
.h2 {
    font-size: 1.5rem;
}
.h3 {
    font-size: 1.3rem;
}
.h1::first-letter,.h2::first-letter,h3::first-letter {
    text-transform: uppercase;
}
.text::first-letter{
    text-transform: uppercase;
}
.text_error {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--tc3);
}
.text_italic {
    font-style: italic;
    font-size: 0.9rem;
}
.text_center {
    align-self: center;
}
.text_mono {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text_bold {
    font-weight: 600;
}
.text_altColor {
    color: var(--tc2);
}
.text_right {
    justify-self: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
}
.form__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.form__group_close{
    width: fit-content;
}
.form__label::first-letter{
    text-transform:uppercase;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {

    padding: 0.5rem;
    border-left: 1px solid var(--tc1);
    border-bottom: 1px solid var(--tc1);
    background-color: var(--bgc1);
}
input[type='radio'] {
    display:  none;
}
textarea {
    padding: 0.5rem;
    border: 1px solid var(--tc1);
    background-color: var(--bgc1);
}
select,option {
    padding: 0.5rem;
    background-color: var(--bgc1);
}
.select2-container--default .select2-dropdown,.select2-container--default .select2-search__field {
    background-color: var(--bgc1);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--tc1) !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--blc) !important;
}
.select2-container--default .select2-results__option--selected {
    background-color: var(--blch) !important;
}
.select2-selection__rendered {
    color: var(--tc1) !important;
    background-color: var(--bgc1);
}
.ratingInput__star {
    height: 2rem;
    cursor: pointer;
}
.button {
    background-color: var(--blc);
    cursor: pointer;
    padding: 1rem;
    min-width: fit-content;
    border-radius: 1rem;
    color: var(--tc2);
}
.button:hover {
    background-color: var(--blch);
}
.form__submit {
    width: 30%;
    align-self: flex-end;
    color: var(--tc2);
}

.catalog {
    display: flex;
    gap: 2rem;
}
.sidebar {
    width: fit-content;
    padding: 1rem;
    background-color: var(--bgc4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
}
.catalog__right {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1.5rem;
    margin-top: 2rem;   
}
.item {
    width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}
.item__link {
    width: 60%;
}
.item__image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 35%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    transition: 0.3s;
}
.item__image:hover {
    opacity: 0.8;
}
.item__rating {
    height: 1rem;

}
.product {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.product__image {
    width: 30%;
    object-fit: cover;
    align-self: flex-start;
}
.product__right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.product__rating {
    height: 1rem;
    width: 5rem;
}
.product__reviews {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.recommended {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.table {
    border-collapse: collapse;
}
.th, .td {
    padding: 1rem;
    text-align: center;
    vertical-align: center;
}
.table__image {
    height: 6vh;
}
.tr:nth-child(odd) {
    background-color: var(--bgc4);
}
.td_total {
    text-align: right;
}
.td_total::first-letter {
    text-transform: uppercase;
}
.table__icon {
    width: 1.5rem;
    aspect-ratio: 1/1;
}

.order__image {
    width: 3rem;
}
.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.postsBottom {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: calc(97% / 3);
    min-width: 400px;
}
.post_detail {
    width: 50%;
}
.post__image {
    width: 100%;
}
.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 0.7rem;
    border-bottom: 1px dotted var(--tc1);
    padding-bottom: 1rem;
    width: 100%
}
.user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.about {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.galery__image {
    width: calc(100% / 3);
}
.accordeon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.accordeon__title {
    height: 10vh;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 1.2s ease-in-out;
}
.accordeon__title:hover {
    height: 35vh;
}
.accordeon__content {
    text-align: center;
}
.margin-t2 {
    margin-top: 2rem;
}

.spinner {
  width: 2.3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.5rem solid var(--bgc4);
  border-top-color: var(--tc1);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 0.8rem auto;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
.splide__slide {
    height: 40vh;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  background: var(--bgc1);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: scale(0.8); 
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.popup__buttons {
    display: flex;
    justify-content: space-between;
}
.popup__text {
    white-space: pre;
}

@media screen and (max-width:1000px) {
    .header__desktop {
        display: none;
    }
    .header__mobile {
        display: flex;
    }
    .footer__partners {
        display: none;
    }
    .logo__image {
    width: 2rem;
    }
    .splide__slide {
    height: 70vh;
    }

}
