{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__desktop">
                <a class="logo" href="/" >
                    <img class="logo__image" src="{% static 'images/logo.jpg' %}">
                    <div class="logo__title">
                        <span class="logo__titleLeft">Chill</span>
                        <span class="logo__titleRight">Sip</span>
                    </div>
                </a>
                <nav class="nav">
                    <a class="link link_altColor {% if site_section == 'about' %}link_selected link_altBorder {% endif %}" href="{% url 'shop:about' %}">о нас</a>
                    <a class="link link_altColor {% if site_section == 'product_list' %}link_selected link_altBorder {% endif %}" href="{% url 'shop:product_list' %}">каталог</a>
                    <a class="link link_altColor {% if site_section == 'cart' %}link_selected link_altBorder {% endif %}" href="{% url 'shop:cart_list' %}">корзина</a>
                    <a class="link link_altColor {% if site_section == 'order_list' %}link_selected link_altBorder {% endif %}" href="{% url 'shop:order_list' %}">мои заказы</a>
                    <a class="link link_altColor {% if site_section == 'post_list' %}link_selected link_altBorder {% endif %}" href="{% url 'blog:post_list' %}">блог</a>
                </nav>
                <div class="auth">
                    {% if user.is_authenticated %}
                        <a href="{% url 'account:money_update' user.slug %}">
                           <div class="text text_altColor">{{ user.account }}₽</div>
                        </a>
                        <a href="{% url 'account:profile' user.slug %}">
                            <img class="userFoto" src="{% if user.foto %}{{user.foto.url}}{% else %}{% static 'images/profile.jpg' %}{% endif %}">
                        </a>
                        <form class="logout" action="{% url 'account:logout' %}" method="POST">
                            {% csrf_token %}
                            <input class="link link_altColor" type="submit" value="Выйти">
                        </form>
                    {% else %}
                        <a class="link link_altColor" href="{% url 'account:login' %}">войти</a>
                    {% endif %}
                </div>
        </div>

        <div class="header__mobile">
            <a class="logo" href="/" >
                <img class="logo__image header__mobileImg" src="{% static 'images/logo.jpg' %}">
            </a>
            <a  href="{% url 'shop:about' %}"><img class="header__mobileImg"  src="{% static 'images/mobile_icons/about.png' %}"></a>
            <a  href="{% url 'shop:product_list' %}"><img class="header__mobileImg" src="{% static 'images/mobile_icons/home.png' %}"></a>
            <a  href="{% url 'shop:cart_list' %}"><img class="header__mobileImg" src="{% static 'images/mobile_icons/cart.png' %}"></a>
            <a  href="{% url 'shop:order_list' %}"><img  class="header__mobileImg"src="{% static 'images/mobile_icons/orders.png' %}"></a>
            <a  href="{% url 'blog:post_list' %}"><img class="header__mobileImg" src="{% static 'images/mobile_icons/blog.png' %}"></a>
            {% if user.is_authenticated %}
                <a href="{% url 'account:money_update' user.slug %}">
                    <div class="text text_altColor ">{{ user.account }}₽</div>
                </a>
                <a href="{% url 'account:profile' user.slug %}">
                    <img class="userFoto header__mobileImg" class="userFoto" src="{% if user.foto %}{{user.foto.url}}{% else %}{% static 'images/profile.jpg' %}{% endif %}">
                </a>
                <form class="logout" action="{% url 'account:logout' %}" method="POST">
                    {% csrf_token %}
                    <input class="link link_altColor" type="submit" value="выйти">
                </form>
            {% else %}
                <a class="link link_altColor" href="{% url 'account:login' %}"><img class="header__mobileImg" src="{% static 'images/mobile_icons/enter.png' %}"></a>
            {% endif %}
           
     
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__copy">
                <div class="text text_altColor ">&copy;chillsip 2025-{% now 'Y' %} Никакие права не защищены.</div>
                <div class="text text_altColor ">По любым вопросам никуда не обращатся.</div>
            </div>
            <div class="footer__partners">
                <a class="link link_altColor" href="/">funroll</a>
                <a class="link link_altColor" href="/">cuppago</a>
                <a class="link link_altColor" href="/">сокбокс</a>
            </div>
            <div class="footer__partners">
                <a class="link link_altColor" href="/">рандомаг</a>
                <a class="link link_altColor" href="/">случайный горг</a>
                <a class="link link_altColor" href="/">быстрый выбор</a>
            </div>
            <div class="footer__social">
                <a href="/"><img class="social__image" src="{% static 'images/telegram.png' %}"></a>
                <a href="/"><img class="social__image" src="{% static 'images/vk.png' %}"></a>
                <a href="/"><img class="social__image" src="{% static 'images/rutube.png' %}"></a>
                <a href="/"><img class="social__image" src="{% static 'images/classmates.png' %}"></a>
            </div>
        </div>
    </footer>
</body>
</html>