account/__pycache__/__init__.cpython-313.pyc
account/__pycache__/admin.cpython-313.pyc
account/__pycache__/apps.cpython-313.pyc
account/__pycache__/forms.cpython-313.pyc
account/__pycache__/models.cpython-313.pyc
account/__pycache__/urls.cpython-313.pyc
account/__pycache__/views.cpython-313.pyc
account/migrations/__pycache__/__init__.cpython-313.pyc
account/migrations/__pycache__/0001_initial.cpython-313.pyc
account/migrations/__pycache__/0002_alter_user_city_delete_city.cpython-313.pyc
account/migrations/__pycache__/0003_remove_user_city.cpython-313.pyc
account/migrations/__pycache__/0004_user_image.cpython-313.pyc
account/migrations/__pycache__/0005_rename_image_user_foto.cpython-313.pyc
blog/__pycache__/__init__.cpython-313.pyc
blog/__pycache__/admin.cpython-313.pyc
blog/__pycache__/apps.cpython-313.pyc
blog/__pycache__/forms.cpython-313.pyc
blog/__pycache__/models.cpython-313.pyc
blog/__pycache__/urls.cpython-313.pyc
blog/__pycache__/views.cpython-313.pyc
blog/migrations/__pycache__/__init__.cpython-313.pyc
blog/migrations/__pycache__/0001_initial.cpython-313.pyc
blog/migrations/__pycache__/0002_alter_post_is_published.cpython-313.pyc
chillsip/__pycache__/__init__.cpython-313.pyc
chillsip/__pycache__/settings.cpython-313.pyc
chillsip/__pycache__/urls.cpython-313.pyc
chillsip/__pycache__/wsgi.cpython-313.pyc
rest/__pycache__/__init__.cpython-313.pyc
rest/__pycache__/admin.cpython-313.pyc
rest/__pycache__/apps.cpython-313.pyc
rest/__pycache__/models.cpython-313.pyc
rest/__pycache__/serialazers.cpython-313.pyc
rest/__pycache__/urls.cpython-313.pyc
rest/__pycache__/views.cpython-313.pyc
rest/migrations/__pycache__/__init__.cpython-313.pyc
shop/__pycache__/__init__.cpython-313.pyc
shop/__pycache__/admin.cpython-313.pyc
shop/__pycache__/apps.cpython-313.pyc
shop/__pycache__/forms.cpython-313.pyc
shop/__pycache__/models.cpython-313.pyc
shop/__pycache__/urls.cpython-313.pyc
shop/__pycache__/views.cpython-313.pyc
shop/migrations/__pycache__/__init__.cpython-313.pyc
shop/migrations/__pycache__/0001_initial.cpython-313.pyc
shop/migrations/__pycache__/0002_remove_city_postal_code.cpython-313.pyc
shop/migrations/__pycache__/0003_alter_order_address.cpython-313.pyc
shop/migrations/__pycache__/0004_remove_order_city_remove_order_address_and_more.cpython-313.pyc
shop/migrations/__pycache__/0005_alter_order_user_alter_street_name_usersproducts.cpython-313.pyc
shop/migrations/__pycache__/0006_alter_usersproducts_user.cpython-313.pyc
shop/migrations/__pycache__/0007_order_is_delivered.cpython-313.pyc
shop/migrations/__pycache__/0008_alter_usersproducts_rating.cpython-313.pyc
shop/migrations/__pycache__/0009_alter_usersproducts_rating.cpython-313.pyc
shop/migrations/__pycache__/0010_alter_product_image.cpython-313.pyc
account/__pycache__/authentication.cpython-313.pyc
account/__pycache__/tests.cpython-313.pyc
account/migrations/__pycache__/0006_alter_user_account_alter_user_foto.cpython-313.pyc
account/migrations/__pycache__/0007_alter_user_foto.cpython-313.pyc
shop/__pycache__/tests.cpython-313.pyc
.gitignore
shop/migrations/__pycache__/0011_alter_order_apartment_alter_product_image_and_more.cpython-313.pyc
.gitignore
shop/migrations/__pycache__/0012_alter_product_image.cpython-313.pyc
shop/migrations/__pycache__/0013_alter_usersproducts_unique_together.cpython-313.pyc
shop/migrations/__pycache__/0014_alter_category_slug_alter_product_slug.cpython-313.pyc
rest/__pycache__/tests.cpython-313.pyc
.gitignore
blog/__pycache__/tests.cpython-313.pyc
shop/migrations/__pycache__/0015_rename_productincart_cart_and_more.cpython-313.pyc
