{% extends 'base.html' %}

{% load static %}

{% block title %}Пост{% endblock title %}

{% block content %}
    <div class="post post_detail">
        <img class="post__image" src="{% if post.image %} {{ post.image.url }} {% else %} {% static 'images/post_no_image.jpg' %} {% endif %}">
        <h2 class="h2">{{ post.name }}</h2>
        <div class="text">{{ post.content }}</div>
    </div>

    <form class="form" method="POST" action="{% url 'blog:comment_create' %}">
		{% csrf_token %}
		{% for element in form %}     
            {{ element }}
		{% endfor %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
		<input class="button form__submit" type="submit" value="Оставить комментарий">
	</form>
    {% for comment in comments %}
        <div class="comment">
                <div class="user">
                    <div class="user__top">
                        <img class="userFoto" src="{% if comment.user.foto %}{{comment.user.foto.url}}{% else %}{% static 'images/profile.jpg' %}{% endif %}">
                        <div class="text text_italic">{{ comment.user.username }}</div>
                    </div>
                     <div class="text text_italic">{{ comment.created }}</div>
                </div>
                <div class="text text_break">{{ comment.content }}</div>
            {% if user.id == comment.user.id %}
            <form action="{% url 'blog:comment_delete' comment.id %}" method="POST">
                {% csrf_token %}
                <input class="button form__submit" type="submit" value="удалить коментарий">
            </form>
            {% endif %}
        </div>
    {% empty %}
        <div class="text text_italic">будьте первым кто оставит комментарий</div>
    {% endfor %}

    {% if comments %}
        {% include 'pagination.html' with page_obj=comments %}
    {% endif %}

{% endblock content %}