{% extends 'base.html' %}

{% load static %}

{% block title %}Новый пароль{% endblock title %}

{% block content %}

    <h1 class="h1">новый пароль</h1>

    {% if validlink %}
        <div class="formFeedback">
            {% if form.errors %}    
                {% for field, error in form.errors.items %}
                    <div class="text text_error">{{ error|striptags }}</div>
                {% endfor %}
            {% else %}
                <div class="text">
                    введите новый пароль дважды
                </div>
            {% endif %}
        </div>
    
    <form class="form" method="POST">
        {% csrf_token %}
        {% for element in form %}
            <div class="form__group">
                <label class="form__label" for="{{ element.id_for_label }}">{{ element.label }}</label>
                {{ element }}
            </div>
        {% endfor %}
        <input class="button form__submit" type="submit" value="Сменить пароль">
    </form>

    <script src="{% static 'js/account/password_change_reset.js' %}"></script>

    {% else %}
        <div class="text">Ссылка на сброс пароля недействительна, скорее всего потому что уже была использована.</div>
        <div class="text">Сделайте<a class="link" href="{% url 'account:password_reset' %}"> новый запрос</a></div>
    {% endif %}
    
{% endblock content %}
