{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock title %}

{% block content %}

    <h1 class="h1">забыли пароль?</h1>

    <div class="formFeedback">
        {% if form.errors %}
            {% for field, error in form.errors.items %}
                <div class="text text_error">{{ error|striptags }}</div>
            {% endfor %}
        {% else %}
            <div class="text">
                введите адресс вашей электронной почты, мы вышлем вам ссылку чтобы вы могли ввести новый пароль
            </div>
        {% endif %}
    </div>

  <form class="form" method="POST">
    {% csrf_token %}
    {% for element in form %}
        <div class="form__group">
            <label class="form__label" for="{{ element.id_for_label }}">{{ element.label }}</label>
            {{ element }}
        </div>
    {% endfor %}
    <input class="form__submit" type="submit" value="Отправить ссылку на почту">
  </form>
   
{% endblock content %}

