{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock title %}

{% block content %}
    <div class="about">
        <h1 class="h1">ChillSip - Ваш источник бодрости и вкуса!</h1>
        <div class="text">
            Добро пожаловать в ChillSip - онлайн-магазин,
            где вы найдете все необходимое для идеального начала дня,
            приятного перерыва и уютного вечера! Мы предлагаем широкий ассортимент высококачественного чая,
            свежих соков и ароматного кофе, чтобы удовлетворить любой вкус и настроение.
        </div>
        <div class="galery">
            <img class="galery__image" src="{% static 'images/about_galery/1.jpg' %}">
            <img class="galery__image" src="{% static 'images/about_galery/2.jpg' %}">
            <img class="galery__image" src="{% static 'images/about_galery/3.jpg' %}">
            <img class="galery__image" src="{% static 'images/about_galery/4.jpg' %}">
            <img class="galery__image" src="{% static 'images/about_galery/5.jpg' %}">
            <img class="galery__image" src="{% static 'images/about_galery/6.jpg' %}">
        </div>
        <h2 class="h2 margin-t2">что мы предлагаем:</h2>
        <div class="accordeon">
            <img src="{% static 'images/tea_set.jpg' %}" class="accordeon__title" data-id="1">
            <div class="text accordeon__content" data-id="1" style="display: none;">
                От классических черных и зеленых сортов до экзотических травяных смесей и фруктовых композиций.
                У нас вы найдете чай на любой случай: для бодрости, расслабления, укрепления иммунитета и просто для удовольствия.
            </div>
            <img src="{% static 'images/juice_set.jpg' %}" class="accordeon__title" data-id="2">
            <div class="text accordeon__content" data-id="2" style="display: none;">
                Натуральные соки прямого отжима, богатые витаминами и микроэлементами. Выбирайте из разнообразия фруктовых и овощных вкусов,
                чтобы зарядиться энергией и поддержать здоровье.
            </div>
            <img src="{% static 'images/coffee_set.jpg' %}" class="accordeon__title" data-id="3">
            <div class="text accordeon__content" data-id="3" style="display: none;">
                Отборные зерна арабики и робусты, обжаренные с любовью и мастерством.
                Насладитесь насыщенным ароматом и неповторимым вкусом свежесваренного кофе,
                который подарит вам заряд бодрости на весь день.
            </div>
            <img src="{% static 'images/snacks_set.jpg' %}" class="accordeon__title" data-id="4">
            <div class="text accordeon__content" data-id="4" style="display: none;">
                Насладитесь тщательно отобранными закусками — 
                качество, вкус и удобство с доставкой на дом. 
            </div>
        </div>
        <h2 class="h2 margin-t2">почему выбирают нас:</h2>
        <h3 class="h3">Высокое качество:</h3>
        <div class="text">Мы тщательно отбираем поставщиков и предлагаем только лучшие продукты.</div>
        <h3 class="h3">Широкий ассортимент</h3>
        <div class="text">У нас вы найдете напитки на любой вкус и кошелек</div>
        <h3 class="h3">Удобная доставка:</h3>
        <div class="text">Мы доставим ваш заказ быстро и бережно в любую точку Иркутска</div>
        <h3 class="h3">Привлекательные цены:</h3>
        <div class="text">Мы предлагаем конкурентные цены и регулярные акции.</div>
        <h3 class="h3">Отличный сервис:</h3>
        <div class="text">Мы всегда готовы помочь вам с выбором и ответить на любые вопросы.</div>
        <h3 class="h3"><a href="{% url 'shop:product_list' %}" class="link">Загляните в наш каталог</a> и откройте для себя мир восхитительных вкусов и ароматов!</h3>
        <h3 class="h3">chillSip - Наслаждайтесь каждым глотком</h3>
    </div>
    <script src="{% static 'js/shop/about.js' %}"></script>
 {% endblock content %}
