{% extends 'base.html' %}

{% block title %}О нас{% endblock title %}

{% block content %}
    <div class="about">
        <h1 class="h1">ChillSip - Ваш источник бодрости и вкуса!</h1>
        <div class="text">
            Добро пожаловать в ChillSip - онлайн-магазин,
            где вы найдете все необходимое для идеального начала дня,
            приятного перерыва и уютного вечера! Мы предлагаем широкий ассортимент высококачественного чая,
            свежих соков и ароматного кофе, чтобы удовлетворить любой вкус и настроение.
        </div>
        <h2 class="h2 margin-t2">что мы предлагаем:</h2>
        <h3 class="h3">чай:</h2>
        <div class="text">
            От классических черных и зеленых сортов до экзотических травяных смесей и фруктовых композиций.
            У нас вы найдете чай на любой случай: для бодрости, расслабления, укрепления иммунитета и просто для удовольствия.
        </div>
        <h3 class="h3">сок:</h3>
        <div class="text">
            Натуральные соки прямого отжима, богатые витаминами и микроэлементами. Выбирайте из разнообразия фруктовых и овощных вкусов,
            чтобы зарядиться энергией и поддержать здоровье.
        </div>
        <h3 class="h3">кофе:</h3>
        <div class="text">
            Отборные зерна арабики и робусты, обжаренные с любовью и мастерством.
            Насладитесь насыщенным ароматом и неповторимым вкусом свежесваренного кофе,
            который подарит вам заряд бодрости на весь день.
        </div>
        <h2 class="h2 margin-t2">почему выбирают нас:</h2>
        <h3 class="h3">Высокое качество:</h3>
        <div class="text">Мы тщательно отбираем поставщиков и предлагаем только лучшие продукты.</div>
        <h3 class="h3">Широкий ассортимент</h3>
        <div class="text">У нас вы найдете напитки на любой вкус и кошелек</div>
        <h3 class="h3">Удобная доставка:</h3>
        <div class="text">Мы доставим ваш заказ быстро и бережно в любую точку Иркутска</div>
        <h3 class="h3">Привлекательные цены:</h3>
        <div class="text">Мы предлагаем конкурентные цены и регулярные акции.</div>
        <h3 class="h3">Отличный сервис:</h3>
        <div class="text">Мы всегда готовы помочь вам с выбором и ответить на любые вопросы.</div>
        <h3 class="h3"><a href="{% url 'shop:product_list' %}" class="link">Загляните в наш каталог</a> и откройте для себя мир восхитительных вкусов и ароматов!</h3>
        <h3 class="h3">chillSip - Наслаждайтесь каждым глотком</h3>
    </div>
        {% endblock content %}
