{% extends 'base.html' %}

{% load static %}

{% block title %}Каталог{% endblock title %}

{% block content %}
    <div class="catalog">

        <div class="sidebar">
            <h3 class="h3">меню</h3>
            <a class="link {% if not category %}link_selected{% endif %}" href="{% url 'shop:product_list' %}">все</a>
            {% for cat in categories %}
                <a class="link {% if category.slug == cat.slug %}link_selected{% endif %}" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
            {% endfor %}
        </div>

        <div class="catalog__right">
            {% include 'shop/product_partial.html' %}
        </div>

    </div>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
{% endblock content %}
